#imagetest {
   transform: rotate(90deg);
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 215px;
   position: relative;
   right: 80px;
   bottom: 15px;
}
.imgContainer {
   padding: 50px;
   float: left;
}

h1 {
   font-family: Georgia, Times New Roman, Times, serif;
   font-size: 25px;
   padding: 10px;
   background-color: teal;
   display: inline-block;
}

h2 {
   position: relative;
   color: teal;
   font-size: 20px;
}

.headLinks {
   display: inline-block;
   font-size: 15px;
   float: right;
   position: relative;
}

p {
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   font-family: Ariel;
   font-size: 20px;
   line-height: 25px;
   position: relative;
   right: 160px;
}